In [ ]:
#task 1
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
s1= pd.Series(np.random.rand(4))
s2= pd.Series(np.random.rand(4))
s3= pd.Series(np.random.rand(4))
s4= pd.Series(np.random.rand(4))

In [ ]:
print(s1,s2,s3,s4)

0    0.296533
1    0.791799
2    0.174246
3    0.396229
dtype: float64 0    0.506117
1    0.096868
2    0.375568
3    0.623484
dtype: float64 0    0.086272
1    0.516446
2    0.765172
3    0.581855
dtype: float64 0    0.971559
1    0.686591
2    0.977320
3    0.920773
dtype: float64

In [ ]:
df= pd.DataFrame([s1,s2,s3,s4])
df

          0         1         2         3
0  0.296533  0.791799  0.174246  0.396229
1  0.506117  0.096868  0.375568  0.623484
2  0.086272  0.516446  0.765172  0.581855
3  0.971559  0.686591  0.977320  0.920773

In [ ]:
df.T

          0         1         2         3
0  0.296533  0.506117  0.086272  0.971559
1  0.791799  0.096868  0.516446  0.686591
2  0.174246  0.375568  0.765172  0.977320
3  0.396229  0.623484  0.581855  0.920773

In [ ]:
#task 2
df.columns=['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.296533        0.791799        0.174246        0.396229
1        0.506117        0.096868        0.375568        0.623484
2        0.086272        0.516446        0.765172        0.581855
3        0.971559        0.686591        0.977320        0.920773

In [ ]:
#task 3
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.465120        0.522926        0.573076        0.630585
std          0.378642        0.305857        0.364412        0.217223
min          0.086272        0.096868        0.174246        0.396229
25%          0.243968        0.411552        0.325237        0.535449
50%          0.401325        0.601518        0.570370        0.602670
75%          0.622478        0.712893        0.818209        0.697806
max          0.971559        0.791799        0.977320        0.920773

In [ ]:
#task 4
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
df['Random value 1'].dtype
df['Random value 2'].dtype
df['Random value 3'].dtype
df['Random value 4'].dtype

dtype('float64')

In [ ]:
#task 5
df.loc[0:4,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.791799        0.174246
1        0.096868        0.375568
2        0.516446        0.765172
3        0.686591        0.977320

In [ ]:
df.iloc[0:,1:3]

   Random value 2  Random value 3
0        0.791799        0.174246
1        0.096868        0.375568
2        0.516446        0.765172
3        0.686591        0.977320